<section class="hero is-medium is-primary is-bold is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Pigeon Dating App
      </h1>
      <h2 class="subtitle">
        Where Birds of One Feather Flock Together
      </h2>
    </div>
  </div>
</section>
<div class="page-container">

  <div class="boy"><img src="https://i.imgur.com/xecsGff.jpg" ></div>
  <div class="heart"><img src="https://i.imgur.com/TsxPFJX.jpg"></div>
  <div class="girl"><img src="https://i.imgur.com/DQTeyOJ.jpg" ></div>

</div>


<br>
<div class="home-buttons">
  <a id="home-button1" class="ui primary button" data-method="get" href="/new">Sign Up</a>
  <a id="home-button2" class="ui primary button" data-method="get" href="/login">Login</a>
</div>
