<section class="hero is-medium is-primary is-bold is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Pigeon Dating App
      </h1>
      <h2 class="subtitle">
        Where Birds of One Feather Flock Together
      </h2>
    </div>
  </div>
</section>

<br>
  <a class="ui primary button" data-method="get" href="/new">Sign Up</a>
  <a class="ui primary button" data-method="get" href="/login">Login</a>
