<div id="menu-bar"class="ui inverted menu">
  <div class="header item">PDA</div>
  <a class="item" data-method="get" href="/users">Pigeons</a>
  <a class="item" data-method="get" href="/interests">Interests</a>
  <a class="item" data-method="get" href="/conversations">My Conversations</a>
  <div class="right menu">
    <div class="profile-pic item">X</div>
    <a class="item" data-method="get" href= '<%= "/users/#{current_user.id}" %>'><%= current_user.username %></a>
    <a class="item" rel="nofollow" data-method="delete" href="/logout">Logout</a>
  </div>
</div>
<div class="main-content">
  <h1>All Interests</h1>
  <ul>
    <% @interests.each do |interest| %>
    <li><%= link_to interest.name, interest %></li><br>
    <% end %>
  </ul>
  <br>
  <%= button_to "View All Pigeons", users_path, method: :get %>
</div>
