// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign-up {
  font-size: 40px;
}
.show-info {
  max-width: 550px;
  margin-left: 10px;
}

#menu-bar {
  z-index: 100;
}

.image-option {
  max-width: 200px;
  display: flex;
}

.form-pic {
  max-width: 100px;
}

.menu-pic {
  border-radius: 50%;
  max-height: 20px;
}

.profile-pic {
  max-height: 80px;
}
#main-form {
  max-width: 800px;
}
.ui.card {
  display: inline-flex;
  margin-left: 5px;
  margin-right: 5px;
}
