// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign-up {
  font-size: 40px;
}
.show-info {
  max-width: 550px;
  margin-left: 10px;
}

#menu-bar {
  z-index: 100;
}
